---
export interface Props {
  title?: string;
  description?: string;
}

const { title = 'Peter Salmon', description = 'Personal site' } = Astro.props as Props;
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>
  <body class="min-h-screen font-sans bg-white text-black p-8 sm:p-6 flex items-center justify-center">
    <main class="w-full max-w-[600px]">
      <slot />
    </main>
  </body>
  
</html>

